
<div class = "card-container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        Enter your register data
      </mat-card-title>
      <mat-card-subtitle>

      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="container">
      <form [formGroup] = "currentForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput type="text" placeholder="First name" formControlName = "firstname" #firstname required>
        <mat-error *ngIf="currentForm.controls['firstname'].hasError('required')">
          Required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Last name</mat-label>
        <input matInput type="text" placeholder="Last name" formControlName = "lastname" #lastname required>
        <mat-error *ngIf="currentForm.controls['lastname'].hasError('required')">
          Required
        </mat-error>
      </mat-form-field>

      <mat-form-field >
        <mat-label>Email</mat-label>
        <input matInput type="text" placeholder="Email" formControlName = "email" #email required>
        <mat-error class="mat-mdc-form-field-subscript-wrapper mat-mdc-form-field-bottom-align::before"
          *ngIf="currentForm.controls['email'].hasError('required')">
          Required
        </mat-error>
        <mat-error
          *ngIf="currentForm.controls['email'].hasError('email')
          && !currentForm.controls['email'].hasError('required')">
          Please enter a email addres
        </mat-error>
        <mat-error *ngIf="currentForm.controls['email'].hasError('conflict')">
          {{this.errorMessage}} Enter another email or do login.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Phone number</mat-label>
        <input 
          matInput type="text" 
          placeholder="Phone number" 
          formControlName = "phoneNumber" 
          #phoneNumber
          minlength="11"
          maxlength="14"
          required>
        <mat-error *ngIf="currentForm.controls['phoneNumber'].hasError('required')">
          Required
        </mat-error>
        
        <mat-error *ngIf="currentForm.controls['phoneNumber'].hasError('minlength')">
          Min count of numbers is 11 
        </mat-error>
                
        <mat-error *ngIf="currentForm.controls['phoneNumber'].hasError('pattern')">
          Enter only numbers
        </mat-error> <!--  -->
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password"  placeholder="Password" formControlName ="password" #password required>
        <mat-error *ngIf="currentForm.controls['password'].hasError('required')">
          Required
        </mat-error>          
      </mat-form-field> 
      <mat-card-actions>        
        <button mat-stroked-button color="primary" type="sybmit" [disabled]="loading">Register</button>       
        <button  mat-stroked-button color="primary" (click)="onLoginForm()">Login</button>
      </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>


