table{
  width: 100%;
}
.mat-card-container {
  margin: 16px;
  background-color: white;
  height: 100%;
}
.mat-drawer-content{
  background-color: white;
}
.title {   
  margin: 12px 0 16px 20px !important;  
}


