<mat-toolbar class="mat-elevation header" color="primary">
  <button mat-icon-button matTooltip="Menu" color="white" aria-label="Main menu"
    >
    <mat-icon aria-hidden="false" fontIcon="menu">menu</mat-icon>
  </button>

  <span class="logo">Angular Authentication Example</span>
  <span class="example-spacer"></span>
  <button mat-icon-button matTooltip="User's profile" color="white" aria-label="User's profile">
    <mat-icon aria-hidden="false" fontIcon="person">person</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Logout" color="white" aria-label="Main menu">
    <mat-icon aria-hidden="false" fontIcon="logout">logout</mat-icon>
  </button>

</mat-toolbar>
